
.messagepage{
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 70%;
}
.chatbox{
    height: 80vh;
    width: 100%;
}
.usercards{
    width: 30%;
    padding: 10px;
}
.usercard{
    margin: 10px;
}