
.inputfield{
    margin: 5px;
    display: block;
    text-align: center;
}

.lobbyform{
    display: block;
    max-width: 500px;
    margin: auto;
}

.title{
    display: block;
    width: fit-content;
    margin: auto;
    padding: 10px;
}

.gamelist{
    padding: 10px;
    width: 98%;
    max-height: 100%;
    overflow: auto;
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 20px;
    row-gap: 20px;

    transition: all ease 0.1s;
}

.gamechoosebutton{
    margin: 10px;
    display: block;
    text-align: center;
}

.tournamentlist{
    width: 95%;
    margin: auto;
    padding: 10px;
}

.noSelectedTournament{
    display: block;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
    color: red;
}

.selectedTournament{
    width: 100%;

    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
}

.button_style{
    background-color: var(--button-color) !important;
    color: black !important;
}