@import '../../global.css';

.profile_page_div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    background-color: #F0F2F5;
}

.profile_page_leftprofilebar{
    margin-top: 1%;
    flex-grow: 1;
}

.profile_page_post_container{
    margin-top: 1%;
    flex-grow: 3;
}